# environment files
.env

# build and production
/build

# testing
/coverage

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dependencies and package manager
/node_modules
/.pnp
.pnp.js

# macOS specific
.DS_Store

# misc
SECURITY.md
STRUCT.md
*.db
.idea/
backend/.env
git_safety_analysis.md